<h1 class="mt-4 text-center">EDITAR DE MENU</h1>
<hr>
 <form #editmenuForm="ngForm"  >
    <div class="form-group w-25">
      <label for="menTitulo">Titulo</label>
      <input type="text" class="form-control" name="menTitulo" [(ngModel)]="datamenu.menTitulo" placeholder="" disabled/>
    </div>
    <div class="form-group w-50">
        <label for="Imagen">Imagen</label>
        <select class="form-control" name="Imagen" [(ngModel)]="datamenu.Imagen" disabled>
          <option [value]=""></option>
            <option [value]="datamenu.Imagen">{{datamenu.Imagen}}</option>
        </select>                     
      </div>
      <div class="form-group w-50">
        <label for="menIsHot">Hot</label>
        <select class="form-control" name="menIsHot" [(ngModel)]="datamenu.menIsHot">
          <option [value]="false">false</option>
          <option [value]="true">true</option>
        </select>
      </div>
      <div class="form-group w-50">
        <label for="menIsHot">Estado</label>
        <select class="form-control" name="menEstado" [(ngModel)]="datamenu.menEstado">
          <option [value]="1">1</option>
          <option [value]="0">0</option>
        </select>
      </div>
      <div class="my-2 d-flex justify-content-end w-50">
        <button  class="btn btn-primary mr-2" onclick="history.back()">Volver</button>
        <button type="submit" class="btn btn-success" (click)="updateMenu()">Actualizar</button>  
      </div>
  </form>   
  
 
